body{
  margin: 0;
}

#ocean{
    width: 100%;
    height: 615px;
    background-color: #62aaea;
}

#ground{
  display: inline-block;
  width: 100%;
  height: 100px;
  background-color: #F5F98F;
}

#crab{
  position: relative;
  width: 100px;
  height: 100px;
  top: -80px;
  animation: octopus-moving 5s linear infinite;
}

#octopus{
  position: relative;
  width: 100px;
  height: 100px;
  animation: octopus-moving 15s linear infinite;
}

#octopus:hover{
  filter: opacity(30%);
}

#fish{
  position: relative;
  top: -400px;
  width: 100px;
  height: 80px;
  animation: fish-moving 5s linear infinite;
}

#shark{
  position: relative;
  width: 200px;
  height: 100px;
  top: -420px;
  animation: fish-moving 5s linear infinite;
}

#seaweed{
  position: relative;
  width: 100px;
  height: 100px;
  top: -97px;
}

@keyframes octopus-moving {
  0%{
    transform: translateX(900px);
  }
  50%{
    transform: translateX(-300px);
  }
  100%{
    transform: translateX(900px);
  }
}

@keyframes fish-moving {
  0%{
    transform: translateX(0px);
  }
  100%{
    transform: translateX(1500px);
}
